body{
  background-color: rgb(42, 106, 180);
  font-family: 'Roboto', sans-serif;
  text-shadow: 1px 1px 2px rgba(40,40,40,0.2)
}

button{
  background-color: rgba(200,200,200,0.4);
}

h1{
  color: rgb(241, 244, 46);
}

.main{
  border-radius: 6px;
  margin: 0 auto;
  margin-top: 10vh;
  min-height: 70vh;
  padding: 1em 0 3em 0;
  text-align: center;
  width: 80%;
}

.mark-choice{
  background-color: #eaeaea;
  padding: 4px 8px;
}
.mark-choice, #rematch, .board-row button{
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#board{
  display: none;
  font-size: 1.5em;
  margin-bottom: 1.6em;
}

#rematch{
  color: rgb(230,230,230);
  font-size:1.1em;
  font-weight: 600;
  margin: auto;
  padding: 0.8em 0;
  visibility: hidden;
  width: 8em;
}

#info {
  height: 4em;
  margin-top: 8vh;
}

#info p, #options p{
  color: rgba(248,248,248,0.9);
  font-size: 1.6em;
  font-weight: 600;
  vertical-align: middle;
}

#options span{
  color: rgba(40,40,40,0.9);
}

.board-row{
  display: block;
  margin-bottom: 5px;
}

.board-row button{
  height: 2.5em;
  vertical-align: top;
  width: 2.5em;
  color: rgb(22, 20, 108);
  font-size: 1.6em;
  font-weight:500;
  text-shadow: 1px 1px 2px rgba(80,80,80,0.2)
}

@media screen and (max-width: 350px){
  .main{
    width:100%;
    padding: 12px 0;
    margin-top: 2em;
  }
  #info{
    margin-top: 1em;
  }
}
