td{
  padding: 8px 12px;
  border: 1px solid #eaeaea;
}
td:hover{
  cursor: pointer;
}

.container{
  position:absolute;
}

#calculator{
  position:relative;
  top:20vh;
  margin-left:auto;
  margin-right:auto;
}
