body{
  font-family: 'Open Sans', sans-serif;
}

.container{
  margin-top: 12vh;
}

#info{
  margin-top: 1em;
}

#controllers{
  align-items: center;
  background: rgb(180,180,180);
  border: 1.2em solid rgb(40,40,40);
  border-radius: 50%;
  display: flex;
  height: 44vw;
  justify-content: center;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16%;
  max-height: 15.5em;
  max-width: 15.5em;
  position: absolute;
  right: 0;
  width: 44vw;
}



.top-circles, .bottom-circles {
  display: flex;
  margin: 0 auto;
  max-width: 800px;
}


#start-button, #reset-button{
  cursor: pointer;
  border: none;
  border-radius: 0.5em;
  padding: 0.6em 1em;
}

#start-button{
  background: rgb(0, 153, 51);
  color: rgb(240,240,240);
}

#reset-button{
  background: rgb(66, 67, 68);
  color: rgb(240,240,240);
}

#choose-strict{
  margin-left: 0.8em;
  position:relative;
  top: 3px;
}

#strict-label{
  margin-top: 5px;
}

.circle{
  cursor: pointer;
  height: 37vw;
  max-height: 250px;
  max-width: 250px;
  width: 37vw;
}

.red{
  background-color: rgb(221, 46, 46);
  border-top: 25px solid rgb(40,40,40);
  border-right: 25px solid rgb(40,40,40);
  border-bottom: 12.5px solid rgb(40,40,40);
  border-left: 12.5px solid rgb(40,40,40);
  border-top-right-radius: 100%;
}

.green{
  background-color: rgb(72, 221, 46);
  border-top: 25px solid rgb(40,40,40);
  border-right: 12.5px solid rgb(40,40,40);
  border-bottom: 12.5px solid rgb(40,40,40);
  border-left: 25px solid rgb(40,40,40);
  border-top-left-radius: 100%;
}

.blue{
  background-color: rgb(54, 113, 209);
  border-top: 12.5px solid rgb(40,40,40);
  border-right: 25px solid rgb(40,40,40);
  border-bottom: 25px solid rgb(40,40,40);
  border-left: 12.5px solid rgb(40,40,40);
  border-bottom-right-radius: 100%;
}

.yellow{
  background-color: rgb(231, 234, 37);
  border-top: 12.5px solid rgb(40,40,40);
  border-right: 12.5px solid rgb(40,40,40);
  border-bottom: 25px solid rgb(40,40,40);
  border-left: 25px solid rgb(40,40,40);
  border-bottom-left-radius: 100%;
}

.redClicked{
  background: grey;
}

.greenClicked{
  background: grey;
}

.blueClicked{
  background-color:grey;
}

.yellowClicked{
  background: grey;
}

@media (min-width: 650px){
  #controllers{
    margin-top:120px;
  }
}

@media (max-width: 540px){
  .red{
    border-top: 12px solid rgb(40,40,40);
    border-right: 12px solid rgb(40,40,40);
    border-bottom: 6px solid rgb(40,40,40);
    border-left: 6px solid rgb(40,40,40);
  }

  .green{
    border-top: 12px solid rgb(40,40,40);
    border-right: 6px solid rgb(40,40,40);
    border-bottom: 6px solid rgb(40,40,40);
    border-left: 12px solid rgb(40,40,40);
  }

  .blue{
    border-top: 6px solid rgb(40,40,40);
    border-right: 12px solid rgb(40,40,40);
    border-bottom: 12px solid rgb(40,40,40);
    border-left: 6px solid rgb(40,40,40);
  }

  .yellow{
    border-top: 6px solid rgb(40,40,40);
    border-right: 6px solid rgb(40,40,40);
    border-bottom: 12px solid rgb(40,40,40);
    border-left: 12px solid rgb(40,40,40);
  }

  #controllers{
    border: 0.6em solid rgb(40,40,40);

  }
}

@media (max-width: 460px){
  body{
    font-size: 0.8em;
  }
  h4{
    font-size: 1.2em;
  }
  .circle{
    height:46vw;
    width:46vw;
  }
  #controllers{
    margin-top:23%;
  }
}

